body{
    font-family: sans-serif;
}
div{
    width: 50vw;
    margin: auto;
}
h1{
    display: inline;
    padding-left: 7em;
    text-align: center;
}
h2{
    padding-left: 1.5em;
    display: inline;
    text-decoration: underline;

}
ul{
    list-style-type: none;
    list-style-position: inside;
}